.team-member img{
	position:absolute;
	max-width:80% !important;
	max-height:80% !important;
	top:0;
	bottom:0;
	left:10%;
	margin:auto;
}

.team p.member-description{
	margin-top:5px;
	padding:10px;
}

.team p.member-specialization{
	margin-top:5px;
	font-style:italic;
	color:gray;
	transition: color 0.2s ease-in;
}

.team:hover p.member-specialization{
	color:#FFFFFF;
}

.team-member{
	position:relative;
	margin:auto;
	width:150px;
	height:150px;
	border:1px solid #354551;
	border-radius:100%;
	overflow:hidden;
	background-color:#FFFFFF;
	transition: border 0s ease-in;
}

.team:hover .team-member{
	border:1px solid #354551;
}

.team{
	overflow:hidden;
	width:80%;
	height:350px;
	margin-bottom:15px;
	padding-top:20px;
	border-radius:5px;
	box-shadow: 5px 5px 10px gray;
	transition: background-color 0.2s ease-in,color 0.2s ease-in;
}

.team:hover{
	background-color:#354551;
	color: #FFFFFF;
}

.team-title{
	max-width:100%;
	max-height:100%;
	border:1px solid #354551;
	background-color: #354551;
	color:#FFFFFF;
	margin:auto;
	border-radius:7px;
	box-shadow: 5px 5px 3px gray;
}

.team-title h2{
	margin-top:10px;
}

.team a.btn-special{
	background-color:#4CAF50;
	border:1px solid #4CAF50;
	margin-left:30%;
	transition: visibility 0s linear,background-color 0s linear;
}

.team:hover a.btn-special{
	visibility: visible;
}

a.btn-special:hover{
	background-color:#4CBF40;
}
